* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
    color: white;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #181818;
}

nav{
    direction: rtl;
    background-color: #0d1b2a;
    backdrop-filter: blur(30px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.199);
}

.navbar-brand a{
    color: #0f6669;
    transition: 0.4s;
}

.navbar-brand a:hover{
    color: #047377;
}

nav ul{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 19px;
}

nav ul li{
    margin-left: 20px;
    border: #224870 solid 1px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
}

nav ul li:hover{
    background-color: #224870;
    color: #0b1929;
}

nav ul li a{
    color: #224870;
    transition: 0.4s;
}

nav ul li a:hover{
    color: #215996;
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




#cardI input{
    font-size: 18px;
    padding: 6px;
    border-radius: 50px;
    border: 2px solid #2a4494;
    color: #4ea5d9;
    text-align: center;
}

#cardI input::placeholder{
    text-align: center;
    width: 100%;
    padding: 15px;
    font-size: 15px;
}

#cardI input:focus{
    outline: none;
    border: #44cfcb solid 1px;
}



button{
    border: #21295c solid 2px;
    color: #3a458d;
    background-color: transparent;
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
}

button:hover{
    background-color: #21295c;
    color: white;
}

.card{
    /* width: 400px;
    height: 150px;
    background-color: #031446;
    margin-top: 25px;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 10px rgba(0, 0, 0, 0.199);
    position: relative; */
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background-color: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after , .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#ff4545,#00ff99,#006aff,#ff0095);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 10px;
    padding: 3px;
    animation: spin 2.5s linear infinite;
}

.card::before{
    filter: blur(1.6rem);
    opacity: 0.5;
}



@keyframes spin{
    0%{
        --angle: 0deg
    }

    100%{
        --angle: 360deg
    }
}

    .burger{
        display: none;
    }

/* Sidebar */

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(30px);
    padding-top: 10px;
}

.sidebar li{
    width: 100%;
    background-color: #171bf1;
}

.sidebar a{
    width: 100%;
    color: white;
}

@media (max-width:890px){
    nav .list-links{
        display: none;
    }

    .main-content{
        margin-top: 100px;
        width: 380px;
        z-index: 999;
    }

    .navbar-brand{
        margin-left: 100px;
        width: 100%;
    }

    .burger{
        display: block;
        margin-left: 20px;
        font-size: 25px;
    }
}